.app--header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0.25rem 0.5rem;
  display: flex !important;
  align-items: center !important;
  z-index: 9999;
  background-color: #e0e4e5;
}

.app--header .logo {
  width: 100px;
  height: auto !important;
}

.app--header .button {
  position: absolute;
  right: 1rem;
}

.button {
  display: inline-block;
  font-weight: 700;
  color: #000;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 0.5rem 2rem;
  font-size: 12.25px;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.btn-primary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border-color: #000;
}

.btn-primary:hover {
  color: #ffdb67;
  background-color: #000;
  border-color: #000;
}
.content-area:first-child {
  margin-bottom: 4rem;
  margin-top: 0;
}

.content-area {
  margin: 8rem 0;
}
