@media only screen and (min-width: 768px) {
  .navigator {
    position: fixed;
    right: 0;
  }
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.nav::before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.item {
  display: block;
  position: relative;
  padding-left: 2rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 17.5px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  line-height: 2;
  content-visibility: auto;
}

.item::before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 2px solid #000;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.item:hover,
.item:has(.active) {
  color: rgba(0, 0, 0, 0.5);
}

.item:hover::before,
.item:has(.active)::before {
  transform: scaleY(1);
}

.counter {
  display: inline-block;
  width: 24.5px;
  width: 1.75rem;
  font-weight: 400;
  font-size: 14px;
  font-size: 1rem;
}

.item a {
  text-decoration: none;
  color: inherit;
}
